<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main id="file-detail-container">
    <a href="/folder/<%= folder.id %>/<%= folder.name %>">Back</a>
    <table>
        <thead>
            <tr>
                <th scope="col">File name</th>
                <th scope="col">File size</th>
                <th scope="col">File extension</th>
                <th scope="col">Uploaded at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= file.name %></td>
                <td><%= (file.size / 1024 / 1024).toFixed(2) %> MB</td>
                <td><%= file.extension %></td>
                <td><%= new Date(file.createdAt).toLocaleString() %></td>
            </tr>
        </tbody>
    </table>
    </main>
</body>
</html>