<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/errors.ejs") %>
    <main>
        <form method="post" action="/file/<%= file.id %>/edit">
        <fieldset>
            <legend>Edit file</legend>
        <div>
            <label for="fileName">New filename</label>
            <input type="text" name="updatedFilename" id="fileName" minlength="1" maxlength="255" value="<%= file.name %>" required>
        </div>
        <div class="btn-container">
            <button type="submit">Submit</button>
            <a href="/folder/<%= folder.id %>/<%= folder.name %>">Cancel</a>
        </div>
        </fieldset>
    </form>
    </main>
</body>
</html>