<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/errors.ejs") %>
    <main>
        <form action="/folder/<%= folder.id %>/<%= folder.name %>/delete" method="post">
        <fieldset>
            <legend>Delete folder</legend>
            <div class="delete-container">
                <p id="deleteHint">Enter 'delete folder' to confirm deletion of '<%= folder.name %>'. <strong>Warning:</strong> Possible subfolders and files will get deleted, too.</p>
                <div>
                <label for="deleteMsg">Delete confirmation</label>
                <input type="text" id="deleteMsg" name="deleteMsg" aria-describedby="deleteHint" required>
                </div>
            </div>
            <div class="btn-container">
                <button type="submit">Submit</button>
                <a href="/folder/<%= folder.id %>/<%= folder.name %>">Cancel</a>
            </div>
        </fieldset>
    </form>
    </main>
</body>
</html>